.timer {
    width: 100px;
    height: 90px;
    border: 10px solid transparent;
    border-radius: 50%;
    background: linear-gradient(#3336, #1116) content-box no-repeat, conic-gradient(#2A36EE 0%, 0, #6663) border-box;
    filter: drop-shadow(2px 2px 5px #FF0);
    position: absolute;
    right: -35px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.timer span {
    font-size: 2em;
    /* width: 100%; */
    /* display: flex; */
    align-self: center;
    align-content: center;
    height: 100%;
    color: #FF0;
}

.timer::after {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #F00;
}